.container #first{
	color:green;
}
.container #second{
	color:yellow;
}
.container #third{
	color:purple;
}
.main p{
	color:green;
}


.content{
	display: flex;
	height:300px;
	width:300px;
	background-color:pink;
	justify-content: center;
	align-items: center;
}
.item{
	margin: 10px;
	height:40px;
	width:40px;
	background-color:black;
}
.parent {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 10px;
	background-color:pink;
}
.child{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background-color:black;
	height:50px;
	width:50px;
}